@import url('https://fonts.googleapis.com/css?family=Roboto');
 /*
	* {
	 margin: 0;
	 padding: 0;
	}
	reset.css
	normalize.css
 
 */
 
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
	font: 400 14px/1.2 ;
	font-family: 'Roboto', sans-serif;
	background: #6dc5dd;
	background: url('../images/bg.jpg');
	padding: 20px 0;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 10px;
}
h2 {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 10px;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.global-wrap {
	background: #fff;
	max-width: 1015px;
	margin: 0 auto;
}
.logo {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}
.global-header {
	padding: 10px 20px;
	background: #fff;
}
.global-nav {
	float: right;
	padding-top: 4px;
}
.global-nav li {
	float: left;
	padding-left: 5;
	padding-right: 20px;
	margin-top: 10px;
	margin-right: 20px;
	border-right: 1px solid rgb(0, 0, 0);
}
.global-nav ul li:last-child {
	padding-right: 0;
	border-right: 0;
}
.global-nav li a {
	color: rgb(0, 0, 0);
}
.global-nav li a:hover {
	color: #7ccbe1;
}
.global-footer {
	background: #f77462;
	color: #fff;
	text-align: center;
	padding: 50px; 	
	line-height: 170%;
}
.global-footer > p {
	padding: 0px 100px 0px 100px;
}
.global-footer > h2 {
	font-weight: 700;
}
.content-padding {
	padding: 20px 20px 0px 20px;
	background: url('../images/slider_gradient.png');
	/*
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	*/
}
.blue {
	/*padding: 0px 20px 0px 20px;*/
	
	/*width: 975px;
	height: 300px;*/
}
.page-tile {
	width: 100%;
}
.sidebar {
	float: left;
	width: 30%;
	/*
		width: 28%;
		padding-right: 2%;
	*/
}
.article-list {
	float: right;
	width: 50%;
	height: 50px;
}

.sidebar-panel img{
	border: 0px;
}
/*.sidebar-panel h4 {
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
	border-bottom: 1px solid #000;
}*/

.article-list h2 {
	padding-top: 40px;
	 font-size: 25px;
	 font-weight: 10;
	 color: #65797c;
}
.article-list h1 {
	 font-size: 40px;
	 font-weight: 900;
}
.article-list p {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 300;
	color: #afafaf;
}
.article-list button {
	margin: 35px 0px;
	color: #ffffff;
	background: #f77562;
	padding: 15px 32px;
	text-align: center;
	font-size: 20px;
	border-radius: 4px;
	border: 0px;
}
.three-column {
	background-color: #6dc6de;
	padding-top: 40px;
	padding-bottom: 40px;
}
.three-column > div{
	/*padding: 50px 10px;*/
	float: left;
	width: 33.3333%;
	color:white;
}
.three-column h2{
	font-size: 18px;
	font-weight: 300;
	padding: 10px 0px 15px 100px ;
	float: left;
}
.text-position{
	font-size: 13px;
	font-weight: 200;
	padding: 0px 0px 0px 100px ;
	float: right;
	line-height: 150%;
}
.three-column h3{
	font-size: 17px;
	font-weight: 300;
	padding: 10px 0px 0px 100px ;
	float: left;
}
.three-column .one-box{
	padding-right: 93px;
	position: relative;
	min-width: 63px;
}
.icon-in-column{
	background: url('../images/col_pic_slider.png') no-repeat 0px 0px ;
	width: 63px;
	height: 63px;
	position: absolute;
	top: 0;
	left: 20px;
}
.icon-in-column.icon-2{
	background-position: -63px;
}
.icon-in-column.icon-3{
	background-position: -126px;
}
.one-box button{
	float: left;
	background: url('../images/read_more_arrow.png') no-repeat;
	margin-top:13px;
	margin-left:13px;
	padding-top: 13px;
	border: 0px;
}
.two-column {
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 40px;
}
.one-big-box {
	float: left;
	width: 70%;
	color:rgb(0, 0, 0);
}
.title-big-box{
	float: right;
	padding-right: 220px;
	font-size: 20px;
	color: #2d616b;
}
.title-big-box>p{
	float: right;
	font-size: 13px;
	font-weight: 200;	
	color: rgb(78, 78, 78);
	padding-right: 30px;
	padding-left: 220px;
}
.two-column .one-big-box{
	/*padding-right: 93px;
	
	min-width: 63px;*/ 	 
	position: relative;	
}
.one-small-box {
	background-color: #ededed;
	float: right;
	width: 30%;
	margin-top: -475px ;
	margin-right: 10px;
	color:#abafb0;
	font-size: 13px;
	padding: 0px;
	font-weight: 800;
	line-height: 170%;
}
.one-small-box2 {
	margin-top: -175px ;
}
.img-back{
	width: 200px;
	height: auto;
	margin-left: 20px;
	border: 0px;
}
.text-p{
	font-size: 13px;
	font-weight: 200;
	padding: 50px 0px 0px 245px ;
	margin-right: 10px; 
	line-height: 170%;
}
.text-right-p{
	padding: 20px 20px 0px 20px;
    margin-right: 10px;
}
.text-orange{
	color: #f77562;
	padding-bottom: 20px;
}
.text-orange.text-right-p{
	padding-right: 20px;
	padding-top: 0px;
	
}

.img-pos{
	width: 63px;
	height: auto;
	float: left;
	
}
.btn-more{
	margin: 35px 0px;
	color: #ffffff;
	background: #f77562;
	padding: 10px 25px;
	text-align: center;
	font-size: 20px;
	border-radius: 4px;
	border: 0px;
	margin:20px 0px 0px 180px;
}
.margin-top{
	margin-top: 50px;
}

@media (max-width: 575px) { 
	.article-list button {
		margin: 5px 0px;
		padding: 5px 20px;
	}
	.sidebar-panel img {
		border: 0px;
		width: 290px;
	}
	.article-list h2 {
		padding-top: 0px; 
		padding-left: 30px;
		font-size: 20px;
		font-weight: 10;
		color: #65797c;
	}
	.three-column > div{
		padding: 50px 10px;
		float: left;
		width: 100%;
		color:white;
	}
	.article-list h1 {
		font-size: 25px;
		font-weight: 900;
		padding-left: 30px;
	}
	.article-list p{
		padding-left: 30px;
	}
	.title-big-box {
		float: right;
		padding-right:0px;
		font-size: 15px;
		color: #2d616b;
	}
	.title-big-box h2{
		margin: 50px;
	}
	.btn-more {
		margin: 20px 0px 0px 245px;
	}
	.article-list button {
		margin: 10px 0px;
		margin-left: 30px;
		margin-top: 0px;
	}
	.one-small-box {
		margin-top: -870px;
		margin-right: 5px;
	}
	.one-small-box2 {
		margin-top: -385px ;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.article-list button {
		margin: 5px 0px;
		padding: 5px 20px;
	}
	.sidebar-panel img {
		border: 0px;
		width: 290px;
	}
	.article-list h2 {
		padding-top: 0px; 
		padding-left: 0px;
		font-size: 20px;
		font-weight: 10;
		color: #65797c;
	}
	.three-column > div{
		padding: 50px 10px;
		float: left;
		width: 100%;
		color:white;
	}
	.article-list h1 {
		font-size: 25px;
		font-weight: 900;
		padding-left: 0px;
	}
	.article-list p{
		padding-left: 0px;
		line-height: 120%;
	}
	.title-big-box {
		float: right;
		padding-right:0px;
		font-size: 15px;
		color: #2d616b;
	}
	.title-big-box h2{
		margin: 50px;
	}
	.btn-more {
		margin: 20px 0px 0px 245px;
	}
	.article-list button {
		margin: 10px 0px;
		margin-left: 0px;
		margin-top: 50px;
	}
	.one-small-box {
		margin-top: -550px;
		margin-right: 5px;
	}
	.one-small-box2 {
		margin-top: -200px ;
	}
 }
 
@media (min-width: 768px) and (max-width: 991.98px) {
	.sidebar {
		float: left;
		width: 30%;
		
	}
	.article-list {
		float: right;
		width: 45%;
		height: 50px;
	}
	.three-column > div{
		/*padding: 50px 10px;*/
		float: left;
		width: 100%;
		color:white;
	}
	.title-big-box {
		float: right;
		padding-right: 50px;
		font-size: 20px;
		color: #2d616b;
	}
 }

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }